.hero-unit.center
  %h1 Welcome to the store
  %h2 The place for hand-made goods

  = link_to "Sign Up Now", signup_path, class: "btn btn-inverse btn-large"

%hr
.container-marketing
  .row
    .span4.offset1.center
      %h4 Shoppers
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut blandit libero. Suspendisse lobortis dapibus sodales. Aliquam erat volutpat. Aliquam quis rhoncus magna, et gravida eros. Praesent leo quam, feugiat a mi in, pellentesque cursus libero. Fusce aliquet vestibulum dignissim. Fusce in tortor fringilla, tempus nisi ac, blandit diam.
      = link_to "Browse", "#", class: "btn btn-inverse"

    .span4.offset2.center
      %h4 Creators
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut blandit libero. Suspendisse lobortis dapibus sodales. Aliquam erat volutpat. Aliquam quis rhoncus magna, et gravida eros. Praesent leo quam, feugiat a mi in, pellentesque cursus libero. Fusce aliquet vestibulum dignissim. Fusce in tortor fringilla, tempus nisi ac, blandit diam.
      = link_to "Sign Up", signup_path, class: "btn btn-inverse"

