= provide(:title, "Sign In")

.row
  .span4.offset4.center.new_session
    = form_tag sessions_path do
      %h1 Sign In

      = text_field_tag :email, placeholder: "Email"      
      = password_field_tag :password, placeholder: "Password"
      = submit_tag "Sign In", class: "btn btn-inverse" 

    = link_to "New User? Sign Up here", signup_path 