= provide(:title, "Edit user")

.row
  .span4.offset4.center
    = form_for(@user) do |f|
      %h1 Update your profile
      
      = render partial: "shared/error_messages"

      = f.text_field :name, placeholder: "Name"
      = f.text_field :email, placeholder: "Email"      
      = f.password_field :password, placeholder: "Password"
      = f.password_field :password_confirmation, placeholder: "Password Confirmation"
      = f.submit "Save changes", class: "btn btn-inverse"

    = gravatar_for @user

    .text-left= link_to "change", "http://gravatar.com/emails"