= provide(:title, "All users")
%h1 All users


.container
  .row  
    %ul.unstyled.index
      - @users.each do |user|
        .span3
          %li
            = gravatar_for user, size: 52
            %p= link_to user.name, user_path(user)

  .center= will_paginate

