= provide(:title, "Sign Up")

.row
  .span4.offset4.center
    = form_for(@user) do |f|
      %h1 Sign Up
      
      = render partial: "shared/error_messages"

      = f.text_field :name, placeholder: "Name"
      = f.text_field :email, placeholder: "Email"      
      = f.password_field :password, placeholder: "Password"
      = f.password_field :password_confirmation, placeholder: "Password Confirmation"
      = f.submit "Create my account", class: "btn btn-inverse" 
    