- if @user.errors.any?
  %ul.alert.alert-error.alert-block.unstyled
    %h4.text-left= "Form contains #{pluralize(@user.errors.count, "error")}"
    %br
    - @user.errors.full_messages.each do |error|
      %li.text-left= error