!!! 5
%html
  %head
    %title= full_title(yield(:title))  
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    %br
    .container
      = render partial: "layouts/navbar"

      - flash.each do |key, value|
        .alert.box{ class: "alert-#{key}"}
          %strong
            = value
          %a.close{ :data => { :dismiss => "alert" }}x
          
      
      = yield

      = render partial: "layouts/footer"

      = debug(params) if Rails.env.development?
